.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Minecraft AE Font */
@font-face {
  font-family: "Minecraft AE";
  src: url("/Minecraft\ AE.ttf");
}

html,body {
  font-family: "Minecraft AE";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}